* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#div-container {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(120deg, #0200c0 10%, #f90000);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#span-container-esquerdo {
  width: 55%;
  display: flex;
  align-items: center;
}

#span-container-esquerdo h1 {
  color: #fff;
  padding: 0 10vh;
  text-align: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#span-container-direito {
  width: 45%;
  display: flex;
  align-items: center;
}

form {
  background-color: whitesmoke;
  width: 70%;
  height: 96vh;
  border-radius: 20px;
  margin: 0 5vh 0 10vh;
  padding: 0 2vh;
}

#div-primeira-etapa-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}

#div-primeira-etapa-container h2 {
  color: #0200c0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1vh;
}

.div-input-label-e-erro {
  display: flex;
  flex-direction: column;
}

.erro-vazio,
.erro-invalido {
  color: #f90000;
  font-size: 0.7rem;
  display: flex;
  position: relative;
  display: none;
}

.div-input-label-e-erro input {
  transform: translateY(4vh);
  height: 4.5vh;
  font-size: 1.3rem;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 1.5vh;
  outline: none;
}

.div-input-label-e-erro input:focus {
  border-bottom-color: #0200c0;
}

.div-input-label-e-erro label {
  transform: translateY(-1.5vh);
  cursor: text;
  font-size: 1rem;
}

.div-input-label-e-erro input:focus ~ label {
  color: #0200c0;
  transform: translateY(-4.2vh);
  transition: 0.4s;
}

.div-input-label-e-erro p {
  position: absolute;
  transform: translateY(0vh);
}

#div-segunda-etapa {
  display: flex;
  flex-direction: column;
  height: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1vh 0 2vh 0;
}

#div-segunda-etapa h3 {
  font-weight: lighter;
  color: #000;
  margin: 1vh 0 2vh 0;
}

#div-primeira-etapa strong,
#div-segunda-etapa strong {
  color: #f90000;
  font-size: 1rem;
}

#identidade-de-genero select {
  width: 100%;
  border-radius: 10px;
  height: 3vh;
  margin-bottom: 2vh;
  outline: none;
  padding-left: 1vh;
}

#span-idade-container {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-around;
}

#div-idade {
  margin: -0.5vh 0 2vh 0;
}

#div-novidades-e-termos-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.span-novidades-e-termos {
  margin-bottom: 1vh;
  font-size: 0.9rem;
  display: flex;
  align-items: baseline;
  text-align: left;
}

.span-novidades-e-termos input {
  transform: translateY(0.3vh);
  accent-color: #10b843;
}

.span-novidades-e-termos input,
.span-novidades-e-termos label {
  margin-right: 1.5vh;
}

.span-novidades-e-termos a {
  color: #f00e52;
  text-decoration: none;
  font-weight: bold;
}

#botao-concluir-cadastro-container button[type="submit"] {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: 6.5vh;
  text-transform: uppercase;
  margin-top: 1vh;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  background-image: linear-gradient(120deg, #0200c0 10%, #f90000);
  border: none;
}

#botao-concluir-cadastro-container button[type="submit"]:hover {
  background: none;
  border: 3px solid #0200c0;
  color: #0200c0;
}
